.chat--avatar img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.chat-contain{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 28px;
}
.chat--content{
    color: #fff;
    padding: 5px 0px 10px 10px;

}
.chat-msg{
    font-size: 13px;
    font-weight: 400;
}
.chat-author{
    color: #999;
    font-size: 12.5px;
    font-weight: 700;
}