.new-post{
    width: 550px;
    height: auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #444446;
    margin-top: 15px;
}
.new-post input{
    min-height: 52px;
    outline-width: 0;
    border: 0;
    background-color: transparent;
    color: #ffff;
    width: 100%;
}
.new-post img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 10px;
}
.add-post-btn{
    margin: 10px;
}
#post{
    border: 0;
    outline-width: 0;
    cursor: pointer;
    padding: 7px 16px 8px;
    color: #ffff;
    background-color: #666;
    border-radius: 4px;
}