.post{
    margin-top: 15px;
    background-color: #333336;
    width: 550px;
    height: auto;
    border-radius: 4px;
}
.post-header{
    padding: 15px 20px 0;
    display: flex;
    align-items: center;
}
.post-header-info{
    color: #ffff;
    margin-left: 2%;
}
.post-header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.wall-text{
    padding: 8px 20px 20px;
    color: #ffff;
    font-size: 13px;
}
.post-like{
    padding: 0 20px;
}
.like-btns img{
    height: 25px;
    width: 25px;
}
#comm{
    width: 19px;
}
.space{
    margin-left: 21px;
}